@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|VT323');
body {
  margin: 0 1em;
  background: #111;
  color: #ccc;
  font-family: 'VT323', 'Source Code Pro', monospace;
  font-size: 32px;
}
h1, h2, h3, ul, p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
a {
  color: #0d0;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
a:hover {
  color: #0ef;
}
.flex-container {
  display: flex;
}
#message-log {
  overflow-y: scroll;
  height: 300px;
}
#left-section {
  flex: 3;
}
#right-section {
  flex: 1;
  width: 16rem;
}
#inventory li {
  list-style: square;
}
#inventory li a {
  margin-left: 0.6em;
}
#verbs li, #exits li, #room-items li {
  list-style: none;
  display: inline;
  margin-right: 1em;
}
