@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|VT323');
body {
  margin: 0 1em;
  background: #111;
  color: #ccc;
  font-family: 'VT323', 'Source Code Pro', monospace;
  font-size: 32px;
}
a {
  color: #0d0;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #0ef;
}
.flex-container {
  display: flex;
}
#left-section {
  flex: 1;
}
#message-log {

}
#right-section {
  flex: 1;
  min-width: 32rem;
}
#inventory li {
  list-style: square;
}
#verbs li, #exits li {
  list-style: none;
  display: inline;
}
